/* #root > div > header > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 350px;
} */

#root > div > main > div:nth-child(2) > div{
    margin-top: 80px;
}